@import "font-awesome";

body {
  background: #e2ebf3;
}

/*framework template*/
.title-bar {
	background-color: white;
	padding: 0 20px;
	border-bottom: 2px solid black;

	.icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 8px;
		vertical-align: top;

	}

	.title-area {
		display: inline-block;
		text-align: center;
	}
	.logo-area {

	}
	.logo-title {
		color: #111;
		margin-top: 6px;
	}

	.logo-subtitle {
		font-size: 13px;
		margin-top: -13px;
	}

	@media screen and (max-width: 430px) {
		.icon {
			display: none;
		}
		.logo-title {
			font-size: 18px;
		}
	}
	.right-controls {
		line-height: 60px;
	}
	.right-controls > div {
		text-align: center;
	}

	@media screen and (min-width: 768px) {
		.right-controls > div {
			text-align: right;
		}
		.logo-area {
			text-align: left;
		}
	}

}